<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Infatlan_STEI_Inventario.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--<add key="SQLServer" value="Server=localhost;Database=STEI;User Id=sa;Password=sa;"/>-->
    <add key="SQLServer" value="Server=10.128.0.68;Database=STEI;User Id=webapps;Password=webapps2019*;"/>
    <add key="RUTA_SERVER" value="C:/htdocs/STEI/sites/inventario/pages/Cargas"/>
    <!--<add key="RUTA_ENLACES1" value="C:/htdocs/STEI/sites/inventario/pages/adjuntosENL/"/>-->
    <add key="RUTA_ENLACES1" value="C:/Users/wpadilla/Source/Repos/Infatlan_STEI_Actual/Infatlan_STEI_Inventario/pages/adjuntosENL/"/>
    <add key="RUTA_ENLACES2" value="/sites/inventario/pages/adjuntosENL/"/>
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>


  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  
  

  <applicationSettings>
    <Infatlan_STEI_Inventario.Properties.Settings>
      <setting name="Infatlan_STEI_Inventario_SapActivos_ZWS_AF_INFATLAN"
        serializeAs="String">
        <value>http://VSRVSAPQASERP.ADBancat.hn:8000/sap/bc/srt/rfc/sap/zws_af_infatlan/200/zws_af_infatlan/zws_af_infatlan</value>
      </setting>
      <setting name="Infatlan_STEI_Inventario_SapInventario_ZWS_AF_INF"
        serializeAs="String">
        <value>http://VSRVSAPQASERP.ADBancat.hn:8000/sap/bc/srt/rfc/sap/zws_af_inf/200/zws_af_inf/zws_af_inf</value>
      </setting>
      <setting name="Infatlan_STEI_Inventario_SapService_ZWS_AF_INF"
        serializeAs="String">
        <value>http://vsrvsaperpprd.adbancat.hn:8000/sap/bc/srt/rfc/sap/zws_af_inf/300/zws_af_inf/zws_af_inf</value>
      </setting>
    </Infatlan_STEI_Inventario.Properties.Settings>
  </applicationSettings>
</configuration>
