<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!-- CONECTION CONFIGURATIONS -->
    <add key="SQLServer" value="Server=10.128.0.68;Database=STEI;User Id=muleServer;Password=mule2019;" />
    <add key="SQLServerATM" value="Server=10.128.0.151;Database=EuroNet_SQL;User Id=xibalba;Password=*8qaz@FRUst4T$;" />
    <!--<add key="RUTA_SERVER" value="C:/htdocs/STEI/ATM/Carga"/>-->
    <add key="RUTA_SERVER" value="E:/htdocs/STEI/sites/ATM/Carga"/>
    <add key="Host" value="http://10.128.0.149:1004" />
    <!-- EMAIL CONFIGURATIONS -->
    <add key="SmtpServer" value="smtp.adbancat.hn" />
    <add key="SmtpPort" value="25" />
    <add key="SmtpFrom" value="reportes@bancatlan.hn" />
    <add key="STEIMail" value="eurrea@bancatlan.hn" />
    <add key="STEIJefeMail" value="emontoya@bancatlan.hn" />
    <!--<add key="TokenPass" value="Eme.IA+" />
    <add key="TokenWord" value="Inf@tl@n123" />-->
  </appSettings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2" executionTimeout="999999" maxRequestLength="2000000000" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />

      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>

    </assemblyBinding>

  </runtime>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>

  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength = "1073741824" />
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <remove name="X-Content-Type-Options"/>
        <add name="X-Content-Type-Options" value="nosniff" />
      </customHeaders>
    </httpProtocol>
    <staticContent>
      <remove fileExtension=".br" />
      <mimeMap fileExtension=".br" mimeType="application/brotli" />
      <!-- IIS doesn't set the right charset for text types -->
      <remove fileExtension=".css"/>
      <mimeMap fileExtension=".css" mimeType="text/css; charset=utf-8"/>
      <remove fileExtension=".html" />
      <mimeMap fileExtension=".html" mimeType="text/html; charset=utf-8" />
      <remove fileExtension=".js"/>
      <mimeMap fileExtension=".js" mimeType="text/javascript; charset=utf-8"/>
      <remove fileExtension=".json"/>
      <mimeMap fileExtension=".json" mimeType="application/json; charset=utf-8"/>
      <remove fileExtension=".svg"/>
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml; charset=utf-8"/>
      <remove fileExtension=".txt" />
      <mimeMap fileExtension=".txt" mimeType="text/plain; charset=utf-8" />
      <remove fileExtension=".xml"/>
      <mimeMap fileExtension=".xml" mimeType="text/xml; charset=utf-8"/>
      <remove fileExtension=".webmanifest"/>
      <!--<mimeMap fileExtension="webmanifest" mimeType="application/manifest+json; charset=utf-8"/>-->
      <!-- font types -->
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".woff" mimeType="font/woff"/>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff2" mimeType="font/woff2"/>
    </staticContent>
  </system.webServer>
</configuration>
